 /* 单行文案超出显示省略号 */
.app{
  white-space: nowrap;    /* 显示不换行 */
  text-overflow: ellipsis;  /* 超出的部分显示为省略号 */
  overflow: hidden;
}
 /* 伪类实现 */
 .contain{
   position: relative;
 }
 .contain::after{
   content: '';
   position: absolute;
   bottom: 0;
   width: calc(100% - 120px);
   height: 1px;
   background: #f5f5f5;
   transform: scaleY(0.3);
 }
 /* 特殊的选择器 odd奇数 even偶数 */
 div:nth-last-child(odd){
  /* nth-last-child伪类接受一个参数, 用来作为一个模式，从后往前匹配元素 odd奇数 even偶数 括号中也可以是一个表达式<An+B>*/
 }
 /* 等价于下面的表达式 */
 div:nth-last-child(2n+1){

 }
p:last-child(){}  /* CSS 伪类 代表父元素的最后一个子元素 */
:nth-child(an+b){}  /*这个 CSS 伪类首先找到所有当前元素的兄弟元素，然后按照位置先后顺序从1开始排序，选择的结果为CSS伪类:nth-child括号中表达式（an+b）匹配到的元素集合 */

div{
  transform: '';
  transition: '';
}
/* 子元素设置padding之后会导致外层设置的border-radius失效、ul>li的布局下面会存在 */

/* background属性可以同时设置背景色和背景图，比如活动页面既有主题背景色又有封面头图
background: #f33b36 url(https://staticqc-operating.lycheer.net/image/weike-SfHAzD-1610980225.png) no-repeat;*/

/* 设置滚动条隐藏 */
/* .div{
   scrollbar-width: none;
   -ms-overflow-style: none;
  &::-webkit-scrollbar {
     display: none;
  }
} */

/* 设置滚动条的样式 */
/*  &::-webkit-scrollbar {
     width: 6px;
     height: 6px;
     background-color: transparent;
 }
  
 定义滚动条的轨道，内阴影及圆角
 &::-webkit-scrollbar-track {
     border-radius: 10px;
     background-color: transparent;
 }
  
 定义滑块，内阴影及圆角
 &::-webkit-scrollbar-thumb {
     height: 10px;
     border-radius: 10px;
     background-color: transparent;
 } */